node_modules/
vendor/
.git/
.gitignore
*.log
*.sql
*.sqlite
.env
.DS_Store
Thumbs.db
docker-compose.override.yml
docker-compose.yml
README.md
LICENSE
tests/
storage/debugbar/
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/